<!-- Chapter collapsible -->
<ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
  <li class="hoverable onHover">
    <!-- Header -->
    <div class="collapsible-header grey lighten-4">
      <strong>{{chapter.title}}</strong>
      <div class="right">
        <a (click)="openEditChapterModal(); $event.stopPropagation()">
          <i class="material-icons icon-blue edit-delete">edit</i></a>
        <a (click)="openDeleteChapterModal(); $event.stopPropagation()">
          <i class="material-icons icon-red edit-delete">delete</i></a>
      </div>
    </div>
    <!-- Body -->
    <div class="collapsible-body">
      <div *ngFor="let question of chapter.questions; let i=index">
        <app-question [i]="i" [question]="question" (deletedQuestion)="deleteQuestion($event)"></app-question>
      </div>
      <app-new-question-modal [chapter]="chapter"></app-new-question-modal>
    </div>
  </li>
</ul>

<!-- Edit chapter modal -->
<app-new-edit-modal (onSubmit)="updateChapterTitle($event)"
  [modalId]="'editChapterModal'+chapter.id" i18n-text text="Edit chapter"
  [title]="chapter.title" [maxLength]="maxLengthChapter"
  [modalNewEdit]="editChapterModal">
</app-new-edit-modal>

<!-- Delete chapter modal -->
<app-delete-modal (onDeleted)="deleteChapter()"
  [id]="'deleteChapterModal'+chapter.id" [title]="chapter.title"
  [deleteModal]="deleteChapterModal">
</app-delete-modal>
