<div *ngIf="test" class="content">
  <h3>{{test.title}}</h3>
  <p>Creado: {{test.creation_date | date:'d MMM yyyy'}}</p>
  <p>Asignatura: {{test.course.name}}</p>
  <p>Convocatoria: {{test.call.title}}</p>
  <div *ngFor="let question of test.questions; let i=index">
    <b>{{i+1}} - {{question.title}}
       <span *ngIf="question.last_modified > test.creation_date" class="red-text">
         <sup>Actualizada el {{question.last_modified | date:'d MMM yyyy'}}</sup></span>
    </b>
    <div *ngFor="let answer of test.answers">
      <div *ngIf="answer.question === question.id">
        - {{answer.title}}
      </div>
    </div>
    <br>
  </div>
  <a class="waves-effect btn-large squizer-btn"
      (click)="generatePDF()">Ver PDF</a>
</div>
