@media only screen and (min-width: 62em){
  .content {
    margin-left: 22em;
  }
}
@media only screen and (max-width: 62em){
  .content {
    margin-left: 2em;
  }
}

.content {
  margin-top: 5em;
  margin-right: 2em;
}
