<a class="waves-effect btn-flat squizer-color" (click)="openNewCallModal(schoolYear)">Añadir convocatoria</a>

<div id="newCallModal{{schoolYear.id}}" class="modal bottom-sheet" materialize="modal" [materializeActions]="newCallModal">
  <form [formGroup]="newCallForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-content">
      <h4>Nueva convocatoria en {{schoolYear.title}}</h4>

      <div class="row">
        <div class="input-field form-group">
          <label for="title">Titulo</label>
          <input type="text" class="form-control" formControlName="title" required materialize="characterCounter" [attr.data-length]="maxLengthCall">
        </div>

        <div class="input-field form-group col s6">
          <label for="start_date" class="active">Fecha de inicio</label>
          <input type="date" class="datepicker form-control" id="start_date" formControlName="start_date" placeholder="yyyy-mm-dd"required>
        </div>
        <div class="input-field form-group col s6">
          <label for="end_date" class="active">Fecha de fin</label>
          <input type="date" class="datepicker form-control" id="end_date" formControlName="end_date" placeholder="yyyy-mm-dd" required>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn">Crear</button>
    </div>
  </form>
</div>
