<a class="question" (click)="openEditQuestionModal(); $event.stopPropagation();">
  <div class="right">
    <b><a class="waves-effect waves btn-flat edit red-text" (click)="openDeleteQuestionModal(); $event.stopPropagation();">ELIMINAR</a></b>
  </div>
  <b><p> #{{i+1}} {{question.title}} </p></b>
  <div class="collection">
    <a *ngFor="let answer of question.answers" class="collection-item">
      <div [ngClass]="{'greenLine': answer.correct, 'redLine': !answer.correct}">
        {{answer.title}}
      </div>
    </a>
  </div>
</a>
<hr>

<app-edit-question-modal [question]="question"></app-edit-question-modal>
<app-delete-modal (onDeleted)="deleteQuestion()" [id]="'deleteQuestionModal'+question.id" [title]="question.title"></app-delete-modal>
