<p *ngIf="tests.length === 0" i18n>(No tests)</p>

<table class="highlight" *ngIf="tests.length > 0">
  <thead>
    <tr>
      <th i18n>Title</th>
      <th i18n>Created</th>
      <th i18n>Actions</th>
      <th i18n>Download</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of tests">
      <td>{{test.title}}</td>
      <td>{{test.creation_date | date:'d MMM yyyy'}}</td>
      <td>
        <a routerLink="/manage-tests/school-year/{{schoolYearId}}/call/{{callId}}/test/{{test.id}}">
          <i class="material-icons icon-blue">visibility</i></a>
        <app-edit-test [test]="test"></app-edit-test>
        <app-delete-test [test]="test" [tests]="tests"></app-delete-test>
      </td>
      <td>
        <a (click)="displayPDF(test.id)" class="squizer-color">PDF</a>
        <a (click)="downloadTEX(test.id)" class="squizer-color">TEX</a>
      </td>
    </tr>
  </tbody>
</table>
