<p *ngIf="tests.length === 0">(No tests)</p>

<table class="highlight" *ngIf="tests.length > 0">
  <thead>
    <tr>
      <th>Titulo</th>
      <th>Creado</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of tests">
      <td>{{test.title}}</td>
      <td>{{test.creation_date | date:'d MMM yyyy'}}</td>
      <td>
        <a routerLink="/manage-tests/school-year/{{schoolYearId}}/call/{{callId}}/test/{{test.id}}">Ver</a>
        <a (click)="openDeleteTestModal(test.id)">Eliminar</a>
        Edit Download</td>
        <app-delete-modal (onDeleted)="deleteTest(test)" [id]="'deleteTestModal' + test.id" [title]="test.title"></app-delete-modal>
    </tr>
  </tbody>
</table>
