<nav class="nav-extended">
  <!-- Main top nabvar -->
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SQUIZER</a>
    <!-- Sandwitch button in mobile view -->
    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Top right navigation in desktop view -->
    <ul class="right hide-on-med-and-down">
      <li class="desktopTab"><a routerLink="/manage-courses" routerLinkActive="active"
        i18n>Questions</a></li>
      <li class="desktopTab"><a routerLink="/manage-tests" routerLinkActive="active"
        i18n>Tests</a></li>
      <li><a materialize="dropdown" class="dropdown-button" data-activates="user">
        {{username}}<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>

    <!-- Tabs under main nabvar in mobile view -->
    <div class="nav-content hide-on-large-only">
      <ul class="tabs navbar-tabs">
        <li class="tab"><a class="waves-effect waves-light" routerLink="/manage-courses"
          routerLinkActive="active" i18n>Questions</a></li>
        <li class="tab"><a class="waves-effect waves-light" routerLink="/manage-tests"
          routerLinkActive="active" i18n>Tests</a></li>
      </ul>
    </div>

    <!-- Collapsible side nav in mobile view -->
    <ul class="side-nav" id="mobile-sidenav">
      <div *ngIf="activeTab == 1">
        <app-courses-sidenav></app-courses-sidenav>
      </div>
      <div *ngIf="activeTab == 2">
        <app-tests-sidenav (click)="select()"></app-tests-sidenav>
      </div>
      <li ><a (click)="logout()">
        <i><img src="../../../../assets/icons/ic_exit_to_app.svg" alt="log out"></i>
        {{username}} logout
      </a></li>
      <!-- Materialize has a bug so it needs a last empty li to show the actual
       last one when there is scroll down, or two more <li> in firefox -->
      <li class="black-text">-</li>
      <li class="black-text">-</li>
    </ul>

  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="user" class="dropdown-content">
  <li><a (click)="logout()" i18n>Logout</a></li>
</ul>
