<side-nav (onSelected)="onSelected($event)"></side-nav>
<div class="content" *ngIf="selectedCourse">
  <div class="container">
    <div class="row">
      <h3 *ngIf="!editCourseTitle">
        <div class="col s11">
            {{selectedCourse.name}}
        </div>
        <div class="col s1">
          <a (click)="editCourseBtn()"><i class="material-icons indigo-text lighten-2-text">edit</i></a>
        </div>
      </h3>
      <div *ngIf="editCourseTitle">
        <div class="input-field">
          <input id="course_title" type="text" class="validate" value="{{selectedCourse.name}}">
          <b><a class="waves-effect waves btn-flat indigo-text accent-2-text">Guardar</a></b>
          <a (click)="editCourseBtn()" class="waves-effect waves btn-flat">Cancelar</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div *ngFor="let chapter of selectedCourse.chapters">
        <app-chapter [chapter]="chapter"></app-chapter>
      </div>
    </div>
    <div class="row">
      <a class="waves-effect indigo accent-2 btn-large" (click)="openNewChapterModal()">Nuevo tema</a>
    </div>
  </div>
  <footer class="footer">
   <div class="footer">
     <div class="container">
       <b><a id="deleteCourse" class="waves-effect waves btn-flat btn-large red-text right" (click)="openDeleteCourseModal()">Eliminar asignatura</a></b>
     </div>
   </div>
 </footer>
</div>

<div *ngIf="!selectedCourse">
  <div class="container">
    <div class="center-div">
        <h2 class="light-grey">Selecciona o crea una asignatura</h2>
    </div>
  </div>
</div>

<!-- New Chapter Modal -->
<div id="newChapterModal" class="modal bottom-sheet">
 <div class="modal-content">
   <h4>Nuevo tema</h4>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field">
          <input id="title" type="text" class="validate">
          <label for="first_name">Titulo</label>
        </div>
      </div>
    </form>
  </div>
 </div>
 <div class="modal-footer">
   <a class=" modal-action modal-close waves-effect indigo accent-2 btn">Guardar</a>
 </div>
</div>

<!-- Delete Chapter Modal -->
<div id="deleteChapterModal" class="modal">
    <div class="modal-content" *ngIf="selectedCourse">
      <h4>Eliminar</h4>
      <p>¿Eliminar <b>{{selectedCourse.name}}</b>?</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves btn-flat">Cancelar</a>
      <b><a class=" modal-action modal-close waves-effect red-text waves-indigo btn-flat" (click)="deleteCourse(selectedCourse); $event.stopPropagation()">
        Eliminar</a></b>
    </div>
  </div>
