<side-nav [courses]="courses"></side-nav>
<div class="content">
  <div class="container">
    <div class="row">
      <h2>Class CS2140</h2>
    </div>
    <div class="row">
      <app-chapter></app-chapter>
      <app-chapter></app-chapter>
      <app-chapter></app-chapter>
      <app-chapter></app-chapter>
    </div>
    <div class="row center-align">
      <a class="waves-effect waves-light btn">Nuevo tema</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.collapsible').collapsible();
  });
</script>
