<side-nav (onSelected)="onSelected($event)"></side-nav>
<div class="content" *ngIf="selectedCourse">
  <div class="container">
    <div class="row">
      <h2>{{selectedCourse.name}}</h2>
    </div>
    <div class="row">
      <div *ngFor="let chapter of selectedCourse.chapters">
        <app-chapter [chapter]="chapter"></app-chapter>
      </div>
    </div>
    <div class="row center-align">
      <div *ngIf="!selectedCourse.chapters">
        <div class="center-div-temas">
          <a class="waves-effect indigo accent-2 btn btn-large" (click)="openModal()">Nuevo tema</a>
        </div>
      </div>
      <div *ngIf="selectedCourse.chapters">
        <a class="waves-effect indigo accent-2 btn-large" (click)="openModal()">Nuevo tema</a>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!selectedCourse">
  <div class="container">
    <div class="center-div">
        <h2 class="light-grey">Selecciona o crea una asignatura</h2>
    </div>
  </div>
</div>

<!-- Modal Structure -->
<div id="modal2" class="modal bottom-sheet">
 <div class="modal-content">
   <h4>Nuevo tema</h4>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field">
          <input id="title" type="text" class="validate">
          <label for="first_name">Titulo</label>
        </div>
      </div>
    </form>
  </div>
 </div>
 <div class="modal-footer">
   <a class=" modal-action modal-close waves-effect indigo accent-2 btn">Guardar</a>
 </div>
</div>
