<a class="question" (click)="openEditQuestionModal(); $event.stopPropagation();">
  <div class="right">
    <b><a class="waves-effect waves btn-flat edit red-text" (click)="openDeleteQuestionModal(); $event.stopPropagation();">ELIMINAR</a></b>
  </div>
  <b><p> #{{i+1}} {{question.title}} </p></b>
  <div class="collection">
    <a *ngFor="let answer of question.answers" class="collection-item">
      <span *ngIf="answer.correct">
        <div class="greenLine">
          {{answer.title}}
        </div>
      </span>
      <span *ngIf="!answer.correct">
        <div class="redLine">
          {{answer.title}}
        </div>
      </span>
    </a>
  </div>
</a>
<hr>

<!-- Edit Question Modal -->
<edit-question-modal [chapterId]="question.chapter" [question]="question"></edit-question-modal>
<!-- Delete Question Modal -->
<delete-modal (onDeleted)="deleteQuestion(question)" [id]="'deleteQuestionModal'+question.id" [title]="question.title"></delete-modal>
