<nav class="nav-extended">
  <!-- Main top nabvar -->
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SQUIZER</a>
    <!-- Sandwitch button in mobile view -->
    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Top right navigation in desktop view -->
    <ul class="right hide-on-med-and-down">
      <li class="desktopTab"><a routerLink="/app/manage-courses" routerLinkActive="active">Asignaturas</a></li>
      <li class="desktopTab"><a routerLink="/app/manage-tests" routerLinkActive="active">Tests</a></li>
    </ul>

    <!-- Tabs under main nabvar in mobile view -->
    <div class="nav-content hide-on-large-only">
      <ul class="tabs">
        <li class="tab"><a class="waves-effect waves-light" routerLink="/app/manage-courses" routerLinkActive="active">Asignaturas</a></li>
        <li class="tab"><a class="waves-effect waves-light" routerLink="/app/manage-tests" routerLinkActive="active">Tests</a></li>
      </ul>
    </div>

    <!-- Collapsible side nav in mobile view -->
    <ul class="side-nav" id="mobile-sidenav">
      <div *ngIf="activeTab == 1">
        <li><div class="center">ASIGNATURAS</div></li>
        <li *ngFor="let course of courses" [class.active]="course === selected">
          <a class="truncate" (click)="selectCourse(course)">{{course.name}}</a>
        </li>
        <a class="waves-effect btn squizer-btn" (click)="openCourseModal()">Nueva Asignatura</a>
      </div>
      <div *ngIf="activeTab == 2">
        <li><div class="center">CURSOS ACADEMICOS</div></li>
        <li><a class="truncate">2016-2017</a></li>
        <a class="waves-effect btn squizer-btn" (click)="openYearModal()">Nuevo Curso</a>
      </div>
    </ul>

  </div>
</nav>

<!-- New Course & Academic Year Modals in mobile view-->
<new-edit-modal (onSubmit)="create($event)" [modalId]="'newCourseModal'" [text]="'Nueva asignatura'" [title]=""></new-edit-modal>
<new-edit-modal (onSubmit)="create($event)" [modalId]="'newYearModal'" [text]="'Nuevo curso academico'" [title]=""></new-edit-modal>
