<nav class="nav-extended">
  <!-- Main top nabvar -->
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">SQUIZER</a>
    <!-- Sandwitch button in mobile view -->
    <a href="#" data-activates="mobile-sidenav" class="button-collapse"><i class="material-icons">menu</i></a>

    <!-- Top right navigation in desktop view -->
    <ul class="right hide-on-med-and-down">
      <li class="desktopTab"><a routerLink="/manage-courses" routerLinkActive="active"
        i18n>Courses</a></li>
      <li class="desktopTab"><a routerLink="/manage-tests" routerLinkActive="active"
        i18n>Tests</a></li>
    </ul>

    <!-- Tabs under main nabvar in mobile view -->
    <div class="nav-content hide-on-large-only">
      <ul class="tabs navbar-tabs">
        <li class="tab"><a class="waves-effect waves-light" routerLink="/manage-courses"
          routerLinkActive="active" i18n>Courses</a></li>
        <li class="tab"><a class="waves-effect waves-light" routerLink="/manage-tests"
          routerLinkActive="active" i18n>Tests</a></li>
      </ul>
    </div>

    <!-- Collapsible side nav in mobile view -->
    <ul class="side-nav" id="mobile-sidenav">
      <div *ngIf="activeTab == 1">
        <app-courses-side-nav></app-courses-side-nav>
      </div>
      <div *ngIf="activeTab == 2">
        <app-tests-side-nav (click)="select()"></app-tests-side-nav>
      </div>
    </ul>

  </div>
</nav>
