<ul id="slide-out" class="side-nav fixed">
  <li class="truncate" *ngFor="let course of courses">
    <a (click)="select(course)">{{course.name}}</a>
  </li>
  <a class="waves-effect indigo accent-2 btn white-text" (click)="openModal()">Nueva Asignatura</a>
</ul>
<a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>

<!-- New Course Modal -->
<div id="modal1" class="modal bottom-sheet">
 <div class="modal-content">
   <h4>Nueva asignatura</h4>
   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field">
          <input #courseTitle type="text" class="validate" >
          <label for="first_name">Titulo</label>
        </div>
      </div>
    </form>
  </div>
 </div>
 <div class="modal-footer">
   <a class=" modal-action modal-close waves-effect indigo accent-2 btn"
   (click)="add(courseTitle.value); courseTitle.value=''">Guardar</a>
 </div>
</div>
