<div id="editQuestionModal{{question.id}}" class="modal modal-fixed-footer"
  materialize="modal" [materializeActions]="editQuestionModal"
  [materializeParams]="[{dismissible: false}]">
  <form novalidate (ngSubmit)="onSubmit()" [formGroup]="questionForm">
    <div class="modal-content">
      <h4 i18n>Edit question</h4>
      <div class="row">
        <div class="input-field">
          <label class="active" i18n>Question title</label>
          <input type="text" formControlName="title" materialize="characterCounter" [attr.data-length]="maxLengthQuestion">
        </div>
        <div
          class="red-text"
          *ngIf="questionForm.get('title').hasError('required') && questionForm.get('title').touched" i18n>
          Title is required
        </div>
      </div>
      <div class="row">
        <fieldset>
          <legend><b i18n> Answers </b></legend>
          <div formArrayName="answers">
            <div *ngFor="let answer of answers.controls; let i=index" [formGroupName]="i">
              <div class="row">
                <div class="col s1">
                  <span *ngIf="i == 0" style="position:absolute; padding-left: 2%;" i18n>T/F</span>
                  <p class="checkbox">
                    <input type="checkbox" class="filled-in checkbox-squizer" [id]="question.id + 'cb' + i"
                      formControlName="correct"/>
                    <label [for]="question.id + 'cb' + i"></label>
                  </p>
                </div>
                <div class="input-field col s11">
                  <label class="active" for="title"># {{i+1}}</label>
                  <input type="text" formControlName="title" materialize="characterCounter" [attr.data-length]="maxLengthAnswer"/>
                  <a *ngIf="answers.controls.length > 4" (click)="removeAnswer(i)">
                    <img class="ic-remove" src="../../../../assets/icons/ic_remove.svg" alt="remove answer"></a>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="right-align">
              <a class="btn-floating btn-large waves-effect waves squizer-btn" (click)="addAnswer()">
                <i class="material-icons">add</i>
              </a>
            </div>
          </div>
        </fieldset>
      </div>
    </div>
    <div class="modal-footer">
      <a class="modal-action modal-close waves-effect btn-flat" (click)="revert()" i18n>Cancel</a>
      <button class=" modal-action modal-close waves-effect btn squizer-btn"
        type="submit" [disabled]="!questionForm.valid" i18n>Edit</button>
    </div>
  </form>
</div>
