<div *ngIf="call">
  <div class="row">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{call.title}}
          <sub>({{call.start_date | date:'d MMM yyyy'}} - {{call.end_date | date:'d MMM yyyy'}})</sub>
        </span>
        <div class="right">
          <a (click)="openEditCallModal(); $event.stopPropagation()"><i class="material-icons icon-blue delete">edit</i></a>
        </div>
      </div>
      <div class="card-action">
        <div *ngFor="let course of courses">
          <b><p>{{course.name | uppercase}}</p></b>
          <app-list-tests [schoolYearId]="call.school_year" [callId]="call.id" [courseId]="course.id"></app-list-tests>
          <br>
        </div>
        <br>
        <a class="waves-effect btn squizer-btn" routerLink="/manage-tests/school-year/{{call.school_year}}/call/{{call.id}}/new-test/">Nuevo test</a>
      </div>
    </div>
  </div>
  <footer class="footer">
   <div class="footer">
     <b><a id="deleteCall" class="waves-effect waves btn-flat btn-large red-text right" (click)="openDeleteCallModal()">Eliminar convocatoria</a></b>
   </div>
  </footer>

  <app-delete-modal (onDeleted)="deleteCall()" [id]="'deleteCallModal' + call.id" [title]="call.title"></app-delete-modal>
  <app-edit-call [call]="call"></app-edit-call>
</div>
