<nav>
  <div class="nav-wrapper">
    <img src="../../assets/img/clipWhite.png" alt="">
    <a href="/" class="brand-logo">SQUIZER</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a routerLink="/courses" routerLinkActive="active">Asignaturas</a></li>
      <li><a routerLink="/" routerLinkActive="active">Tests</a></li>
    </ul>
    <ul class="side-nav" id="mobile-demo">
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
      <li><a routerLink="/courses" routerLinkActive="active">Asignaturas</a></li>
      <li><a routerLink="/" routerLinkActive="active">Tests</a></li>
    </ul>
  </div>
</nav>
