<li><div class="center bold">CURSOS</div></li>
<li><div class="divider"></div></li>
<li *ngFor="let schoolYear of schoolYears" [class.active]="schoolYear === selectedSchoolYear && selectedCall === null">
  <a class="school-year truncate" routerLink="/app/manage-tests" (click)="selectSchoolYear(schoolYear)"><b>{{schoolYear.title | uppercase}}</b></a>
  <ul>
    <li *ngFor="let call of schoolYear.calls" [class.active]="call === selectedCall">
      <a class="call truncate" routerLink="/app/manage-tests" (click)="selectCall(schoolYear, call)">= {{call.title}}</a>
    </li>
    <li *ngIf="schoolYear === selectedSchoolYear">
      <a class="call truncate" (click)="openNewCallModal(schoolYear)"><u>+ Añadir convocatoria</u></a>
    </li>
  </ul>
  <app-new-call [schoolYear]="schoolYear"></app-new-call>
</li>
<a class="waves-effect btn squizer-btn" (click)="openSchoolYearModal()">Nuevo curso</a>
<!-- Materialize has a bug so it needs a last empty li to show the actual
 last one when there is scroll down, or two more <li> in firefox -->
<li>-</li>
<li>-</li>
