.active {
  font-weight: bold !important;
  background-color: #232323 !important;
  padding-left: 10px;
}

a{
  color: white !important;
}

a:hover {
  font-weight: bold !important;
}

.bold {
  color: white !important;
  font-family: 'raleway-bold';
}

.call {
  margin-left: 1.5em;
}
