<!-- Edit test button -->
<a (click)="openEditTestModal(test.id)" materialize="tooltip" class="tooltipped"
  data-position="bottom" data-delay="50" i18n-data-tooltip data-tooltip="Edit">
  <i class="material-icons icon-blue">mode_edit</i></a>

<!-- Edit test modal -->
<div id="editTestModal{{test.id}}" class="modal bottom-sheet" materialize="modal" [materializeActions]="editTestModal">
  <form #editTestForm="ngForm" novalidate>
    <div class="modal-content">
      <h4 i18n>Edit test</h4>
      <!-- Title -->
      <div class="row">
        <div class="input-field form-group">
          <label for="title" class="active" i18n>Title</label>
          <input type="text" class="form-control" name="title" [(ngModel)]="testForm.title"
            required materialize="characterCounter" [attr.data-length]="maxLengthTest"
            maxlength="{{maxLengthTest}}">
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn"
         (click)="updateTest()" [disabled]="!editTestForm.valid" i18n>Save</button>
    </div>
  </form>
</div>
