<li><div class="center bold" i18n>SCHOOL YEARS</div></li>
<li><div class="divider"></div></li>
<li *ngFor="let schoolYear of (schoolYears$ | async)"
    [class.active]="(selectedTermId === null) && (schoolYear.id === selectedSchoolYearId)">
  <a  class="schoolyear truncate"
      routerLink="/manage-tests/schoolyear/{{schoolYear.id}}">
      <b>{{schoolYear.title | uppercase}}</b></a>
  <ul>
    <li *ngFor="let term of schoolYear.terms" [class.active]="term.id === selectedTermId">
      <a  class="truncate"
          routerLink="/manage-tests/schoolyear/{{schoolYear.id}}/term/{{term.id}}">
          = {{term.title}}</a>
    </li>
    <li *ngIf="schoolYear.id === selectedSchoolYearId">
      <app-new-term [schoolYear]="schoolYear"></app-new-term>
    </li>
  </ul>
</li>
<app-new-schoolyear [schoolYears]="(schoolYears$ | async)"></app-new-schoolyear>
