<div class="content">
  <h3 i18n>Create test</h3>

  <form #newTestForm="ngForm" novalidate materialize>
    <div class="row">
      <div class="input-field form-group col s6">
        <label for="title" i18n>Title</label>
        <input type="text" class="form-control" name="title" [(ngModel)]="test.title"
          required materialize="characterCounter" [attr.data-length]="maxLengthTest"
          maxlength="{{maxLengthTest}}">
      </div>

      <div class="input-field form-group col s6">
        <select [(ngModel)]="test.course" name="course" materialize="material_select"
          (change)="selectCourse()" required [materializeSelectOptions]="courses">
          <option value="" disabled selected i18n>Select a course</option>
          <option *ngFor="let course of courses" [value]="course.id">{{course.name}}</option>
        </select>
        <label i18n>Course</label>
      </div>
    </div>

    <div *ngIf="course" id="all">
      <div class="row">
        <button type="button" class="waves-effect btn-flat squizer-color" (click)="checkAll('all', false)" i18n>Uncheck All</button>
        <button type="button" class="waves-effect btn-flat squizer-color" (click)="checkAll('all', true)" i18n>Check All</button>
      </div>

      <div class="card">
        <div class="tabs" >
          <ul class="tabs tabs-fixed-width card-tabs" materialize="tabs">
            <li class="tab" *ngFor="let chapter of course.chapters">
              <a (click)="selectChapter(chapter)">{{chapter.title}}</a>
            </li>
          </ul>
        </div>
        <div class="card-content">
          <div *ngFor="let chapter of course.chapters" id="ch{{chapter.id}}" [hidden]="chapter != selectedChapter">
            <b>{{chapter.title}}</b>

            <div class="row">
              <div class="input-field col s2">
                <label for="title"></label>
                <input type="number" class="form-control" name="nQuestions"
                  [(ngModel)]="chapter.nQuestions" required>
              </div>
              <p class="col s10"> questions out of {{chapter.questions.length}}</p>
            </div>
            <div class="row">
              <button type="button" class="waves-effect btn-flat squizer-color" (click)="checkChapter(false, chapter.id)" i18n>Uncheck Chapter</button>
              <button type="button" class="waves-effect btn-flat squizer-color" (click)="checkChapter(true, chapter.id)" i18n>Check Chapter</button>
            </div>

            <div class="questions" *ngFor="let question of chapter.questions" id="q{{question.id}}">
              <input type="checkbox" class="filled-in checkbox-squizer" id="question{{question.id}}"
                (change)="question.checked=$event.target.checked; checkQuestion($event.target.checked, question.id)"/>
              <label for="question{{question.id}}">{{question.title}}</label>
              <div class="answers" *ngFor="let answer of question.answers">
                <input type="checkbox" class="filled-in checkbox-squizer" id="answer{{answer.id}}" (change)="answer.checked=$event.target.checked" />
                <label for="answer{{answer.id}}">{{answer.title}}</label>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="card-action">
          <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn"
            (click)="save()" [disabled]="!newTestForm.valid" i18n>Create test</button>
        </div>
      </div>
    </div>
  </form>
</div>
