<li><a class="waves-effect btn-large squizer-btn" (click)="openSchoolYearModal()" i18n>New school year</a></li>

<div id="newSchoolYearModal" class="modal bottom-sheet" materialize="modal" [materializeActions]="newSchoolYearModal">
  <form [formGroup]="newSchoolYearForm" (ngSubmit)="onSubmit()" novalidate materialize>
    <div class="modal-content">
      <h4 i18n>New school year</h4>

      <div class="row">
        <div class="input-field form-group">
          <label for="title" i18n>Title</label>
          <input type="text" class="form-control" formControlName="title"
            required materialize="characterCounter" [attr.data-length]="maxLengthSchoolYear"
            maxlength="{{maxLengthSchoolYear}}">
        </div>

        <div class="input-field form-group col s6">
          <label for="start_date" class="active" i18n>Start date</label>
          <input type="date" id="start_date" materialize="pickadate"
            [materializeParams]="[{selectMonths: true, selectYears: true, format: 'yyyy-mm-dd'}]"
            formControlName="start_date" placeholder="yyyy-mm-dd" required>
        </div>
        <div class="input-field form-group col s6">
          <label for="end_date" class="active" i18n>End date</label>
          <input type="date" id="end_date" materialize="pickadate"
            [materializeParams]="[{selectMonths: true, selectYears: true, format: 'yyyy-mm-dd'}]"
            formControlName="end_date" placeholder="yyyy-mm-dd" required>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn"
        [disabled]="!newSchoolYearForm.valid" i18n>Create</button>
    </div>
  </form>
</div>
