<div id="newSchoolYearModal" class="modal bottom-sheet">
  <form [formGroup]="newSchoolYearForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-content">
      <h4>Nuevo curso</h4>

      <div class="row">
        <div class="input-field form-group">
          <label for="title">Titulo</label>
          <input type="text" class="form-control" formControlName="title" required>
        </div>

        <div class="input-field form-group col s6">
          <label for="start_date" class="active">Fecha de inicio</label>
          <input type="date" class="datepicker form-control" id="start_date" formControlName="start_date" placeholder="yyyy-mm-dd"required>
        </div>
        <div class="input-field form-group col s6">
          <label for="end_date" class="active">Fecha de fin</label>
          <input type="date" class="datepicker form-control" id="end_date" formControlName="end_date" placeholder="yyyy-mm-dd" required>
        </div>
      </div>
      <!-- <div>
        <div>myForm details:-</div>
        <pre>Is myForm valid?: <br>{{newSchoolYearForm.valid | json}}</pre>
        <pre>form value: <br>{{newSchoolYearForm.value | json}}</pre>
      </div> -->
    </div>

    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn">Guardar</button>
    </div>
  </form>
</div>
