<div [formGroup]="answerForm">
    <div class="input-field form-group">
        <span>
          <input type="text" class="form-control" formControlName="answer" value="{{answerText}}" required/>
          <label for="answer">Respuesta</label>
          <a *ngIf="length > 4" (click)="removeAnswer(id)"><img class="icon-cross" src="../../../../assets/close.svg" alt="remove answer"></a>
        </span>
        <!--<small [hidden]="answerForm.controls.answer.valid" class="text-danger">
            Answer is required
        </small>-->
    </div>
</div>
