<a  id="editSchoolYear"
    class="waves-effect waves btn-flat btn-large white-text right"
    (click)="openEditSchoolYearModal()">Editar</a>

<div id="editSchoolYearModal{{schoolYear.id}}" class="modal bottom-sheet" materialize="modal" [materializeActions]="editSchoolYearModal">
  <form [formGroup]="editSchoolYearForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-content">
      <h4>Editar curso</h4>

      <div class="row">
        <div class="input-field form-group">
          <label for="title" class="active">Titulo</label>
          <input type="text" class="form-control" formControlName="title" required materialize="characterCounter" [attr.data-length]="maxLengthSchoolYear">
        </div>

        <div class="input-field form-group col s6">
          <label for="start_date" class="active">Fecha de inicio</label>
          <input type="date" class="datepicker form-control" id="start_date" formControlName="start_date" required>
        </div>
        <div class="input-field form-group col s6">
          <label for="end_date" class="active">Fecha de fin</label>
          <input type="date" class="datepicker form-control" id="end_date" formControlName="end_date"  required>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="modal-action modal-close waves-effect btn red left"
        (click)="openDeleteSchoolYearModal()">Eliminar Curso</button>
      <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn">Guardar</button>
    </div>
  </form>
</div>

<app-delete-modal (onDeleted)="deleteSchoolYear()"
  [id]="'deleteSchoolYearModal' + schoolYear.id"
  [title]="schoolYear.title" [deleteModal]="deleteSchoolYearModal"></app-delete-modal>
