.active {
  font-weight: bold !important;
  background-color: #232323 !important;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

a{
  color: white !important;
}

a:hover {
  font-weight: bold !important;
}

.bold {
  color: white !important;
  font-family: 'raleway-bold';
}
