<!-- Side Navigation -->
<li><div class="center bold">ASIGNATURAS</div></li>
<li><div class="divider"></div></li>
<li *ngFor="let course of (courses$ | async)" [class.active]="course.id === selectedCourseId">
  <a
    class="truncate"
    (click)="selectCourse(course.id)"
    routerLink="/manage-courses/course/{{course.id}}">{{course.name}}</a>
</li>
<a class="waves-effect btn squizer-btn" (click)="openCourseModal()">Nueva Asignatura</a>

<app-new-edit-modal (onSubmit)="createCourse($event)" [modalId]="'newCourseModal'" [text]="'Nueva asignatura'" [title]=""></app-new-edit-modal>
