@media only screen and (min-width: 62em){
  .content {
    padding-left: 30em;
    padding-right: 10em;
  }
  .questions {
    padding-left: 6em;
    padding-right: 4em;
  }

  .answers {
    padding-left: 2em;
  }
}
@media only screen and (max-width: 62em){
  .content {
    padding-left: 10em;
    padding-right: 10em;
  }
  .questions {
    padding-left: 1em;
  }
  .answers {
    padding-left: 2em;
  }
}

.content {
  padding-top: 5em;
  background-color: #f0f0f0 !important;
}

.pdf {
  position: absolute;
  right: 0;
}

.navigate-before {
  position: absolute;
  left: 3em;
  top: 3.5em;
}
