<div class="content" *ngIf="course">
  <!-- Course title -->
  <div class="row">
    <h3 *ngIf="!editCourseTitle" (click)="editCourseBtn()">
        {{course.name}}
    </h3>
    <div *ngIf="editCourseTitle">
      <form #editTitleForm="ngForm" novalidate>
        <div class="input-field">
          <input id="courseTitle" name="name" [(ngModel)]="course.name" placeholder="Type the course title"
            materialize="characterCounter" [attr.data-length]="maxLengthCourse" required maxlength="{{maxLengthCourse}}"/>
          <b><button id="saveCourseTitle" class="waves-effect waves btn-flat squizer-color"
            (click)="updateCourseTitle()" [disabled]="!editTitleForm.valid" i18n>Save</button></b>
          <a class="waves-effect waves btn-flat" (click)="cancelEditCourse()" i18n>Cancel</a>
        </div>
      </form>
    </div>
  </div>
  <!-- Chapters -->
  <div class="row">
    <div *ngFor="let chapter of course.chapters">
      <app-chapter (deletedChapter)="deleteChapter($event)" [chapter]="chapter"></app-chapter>
    </div>
  </div>

  <div class="row">
    <a class="waves-effect btn-large squizer-btn" (click)="openNewChapterModal()" i18n>New chapter</a>
  </div>

  <!-- Delete course -->
  <footer class="footer">
   <div class="footer">
     <b><a id="deleteCourse" class="waves-effect waves btn-flat btn-large red-text right"
       (click)="openDeleteCourseModal()" i18n>Delete course</a></b>
   </div>
 </footer>
</div>

<app-delete-modal *ngIf="course" (onDeleted)="deleteCourse(course)"
  [id]="'deleteCourseModal'" [title]="course.name" [deleteModal]="deleteModal">
</app-delete-modal>
<app-new-edit-modal (onSubmit)="addChapter($event)" [modalId]="'newChapterModal'" i18n-text
  text="New chapter" [title]="" [maxLength]="maxLengthChapter" [modalNewEdit]="newChapterModal">
</app-new-edit-modal>
