<div class="content" *ngIf="course">
  <!-- Course title -->
  <div class="row">
    <h3 *ngIf="!editCourseTitle" (click)="editCourseBtn()">
        {{course.name}}
    </h3>
    <div *ngIf="editCourseTitle">
      <div class="input-field">
        <input id="courseTitle" [(ngModel)]="course.name" placeholder="name" />
        <b><a id="saveCourseTitle" class="waves-effect waves btn-flat squizer-color" (click)="updateCourseTitle()">Guardar</a></b>
        <a class="waves-effect waves btn-flat" (click)="cancelEditCourse()">Cancelar</a>
      </div>
    </div>
  </div>
  <!-- Chapters -->
  <div class="row">
    <div *ngFor="let chapter of course.chapters">
      <app-chapter [chapter]="chapter"></app-chapter>
    </div>
  </div>

  <div class="row">
    <a class="waves-effect btn-large squizer-btn" (click)="openNewChapterModal()">Nuevo tema</a>
  </div>
  <!-- Delete course -->
  <footer class="footer">
   <div class="footer">
     <b><a id="deleteCourse" class="waves-effect waves btn-flat btn-large red-text right" (click)="openDeleteCourseModal()">Eliminar asignatura</a></b>
   </div>
 </footer>
</div>

<app-delete-modal *ngIf="course" (onDeleted)="deleteCourse(course)" [id]="'deleteCourseModal'" [title]="course.name"></app-delete-modal>
<app-new-edit-modal (onSubmit)="addChapter($event)" [modalId]="'newChapterModal'" [text]="'Nuevo tema'" [title]=""></app-new-edit-modal>
