/* Global styles, and also import other style files */
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #b388ff;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #b388ff;
  box-shadow: 0 1px 0 0 #b388ff;
}

a {
  cursor: pointer;
}

@font-face {
    font-family: 'womby';
    src: url('./assets/fonts/womby/Womby-Regular.ttf');
}
