/* Global styles, and also import other style files */
@font-face {
    font-family: 'womby';
    src: url('./assets/fonts/womby/Womby-Regular.ttf');
}

@font-face {
    font-family: 'raleway';
    src: url('./assets/fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'raleway-bold';
    src: url('./assets/fonts/raleway/Raleway-Bold.ttf');
}

a {
  cursor: pointer;
}

/* General Colors */
/*
Paleta de colores:
   - Void:    #0E0B16   texto
   - Fushia:  #A239CA   navbar
   - Jewel:   #4717F6   botones
              #2806A5   botones on hover
   - Stark:   #E7DFDD   background
*/

body {
  font-family: 'raleway';
  background-color: #fefefe;
}

h1, h2, h3, h4, h5 {
  font-family: 'raleway-bold';
}

.navbar-tabs .indicator {
   background-color:#fff !important;
   height: 3px;
} /*Color of underline in mobile extended navbar*/


/*
* Card tabs
*/

.card-tabs {
  background-color: #efefef;
}
.card-tabs .indicator {
   background-color: #4717F6;
} /*Color of underline*/

.card-tabs .tab a {
  color: #9275fa;
}

.card-tabs .tab a:hover {
  color: #4717F6;
}

.card-tabs .tab a.active {
  color: #4717F6;
}

/*
* Buttons
*/

.squizer-btn {
  color: white !important;
  background-color: #4717F6;
  font-family: 'raleway-bold';
}

.squizer-btn:hover {
  color: white !important;
  background-color: #2806A5 !important;
  font-family: 'raleway-bold';
}

.squizer-btn:focus {
  background-color: #4717F6;
}

/*
* Materialize select squizer color
* ul.dropdown-content.select-dropdown li span {
*    color: #4717F6;
}*/

.btn-flat {
  font-family: 'raleway-bold';
}

.squizer-color {
  color: #4717F6 !important;
}

.checkbox-squizer[type="checkbox"].filled-in:checked + label:after{
     border: 2px solid #4717F6;
     background-color: #4717F6;
}

i.icon-blue {
  color: #4717F6;
}

i.icon-red {
  color: red;
}

/* label focus color */
.input-field input[type=text]:focus + label {
  color: #4717F6;
}
.input-field input[type=password]:focus + label {
  color: #4717F6;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #4717F6;
  box-shadow: 0 1px 0 0 #4717F6;
}
.input-field input[type=password]:focus {
  border-bottom: 1px solid #4717F6;
  box-shadow: 0 1px 0 0 #4717F6;
}

/* Select dropdown */
ul.dropdown-content.select-dropdown li.disabled span {
  color: #000;
}
ul.dropdown-content.select-dropdown li span {
  color: #4717F6;
}
