<!-- Side Navigation in desktop view -->
<ul id="slide-out" class="side-nav fixed">
    <li><div class="center bold">{{title}}</div></li>
    <li *ngFor="let item of itemList" [class.active]="item === selected">
      <a class="truncate" (click)="select(item)">{{item.name}}</a>
    </li>
    <a *ngIf="activeTab == 'courses'" class="waves-effect btn squizer-btn" (click)="openCourseModal()">Nueva Asignatura</a>
    <a *ngIf="activeTab == 'tests'" class="waves-effect btn squizer-btn" (click)="openYearModal()">Nuevo curso</a>
</ul>

<!-- New Course & Academic Year Modals in desktop view-->
<new-edit-modal (onSubmit)="create($event)" [modalId]="'newCourseModal'" [text]="'Nueva asignatura'" [title]=""></new-edit-modal>
<new-edit-modal (onSubmit)="create($event)" [modalId]="'newYearModal'" [text]="'Nuevo curso academico'" [title]=""></new-edit-modal>
