.modal {
  width: 80% !important;
}

fieldset {
  padding: 1em;
  background-color: white;
}

span {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
}

img.ic-remove {
  position: absolute;
  right: 0;
  top: 0;
}

p.checkbox {
  margin: 0;
  padding-left: 40%;
  padding-top: 2em;
  padding-bottom: 0;
}

.checkbox-squizer[type="checkbox"].filled-in:checked + label:after{
  border: 2px solid #4717F6;
  background-color: #4717F6;
}
