<!-- New and Edit Modal -->
<div id="{{modalId}}" class="modal bottom-sheet" materialize="modal" [materializeActions]="modalNewEdit">
  <form #form="ngForm" novalidate>
    <div class="modal-content">
      <h4>{{text}}</h4>
      <!-- Title -->
      <div class="row">
        <div class="input-field">
          <input type="text" name="title" id="input{{modalId}}" [ngModel]="title"
            materialize="characterCounter" [attr.data-length]="maxLength"
            required maxlength="{{maxLength}}">
          <label [class.active]="title" for="input{{modalId}}" i18n>Title</label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <!-- Create or save button depending if it's new or edit -->
      <button *ngIf="title !== ''" class="modal-action modal-close waves-effect btn squizer-btn"
        (click)="submit(form)" [disabled]="!form.valid" i18n>Save</button>
      <button *ngIf="title === ''" class="modal-action modal-close waves-effect btn squizer-btn"
          (click)="submit(form)" [disabled]="!form.valid" i18n>Create</button>
    </div>
  </form>
</div>
