<ul class="collapsible" data-collapsible="accordion">
  <li class="hoverable onHover">
    <!-- Header -->
    <div class="collapsible-header">
      {{chapterTitle}}
      <div class="right">
        <i class="material-icons delete">delete</i>
      </div>
    </div>
    <!-- Body -->
    <div class="collapsible-body">
      <span>{{chapterContent}}</span>
      <div class="right-align">
        <a class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
      </div>
    </div>
  </li>
</ul>
