.onHover .delete{
  visibility:hidden;
}
.onHover:hover .delete {
 visibility:visible;
}

.collapsible-body {
  padding: 1em;
}

#newQuestionModal {
  width: 80% !important;
}

fieldset {
  padding: 1em;
  background-color: white;
}
