.onHover .delete{
  visibility:hidden;
}
.onHover:hover .delete {
 visibility:visible;
}

.collapsible-body {
  padding: 1em;  
}

.answer .edit{
  visibility:hidden;
}

.answer:hover .edit{
  visibility:visible;
}
