<a (click)="openEditCallModal(); $event.stopPropagation()"><i class="material-icons icon-blue">edit</i></a>

<div id="editCallModal{{call.id}}" class="modal bottom-sheet" materialize="modal" [materializeActions]="editCallModal">
  <form [formGroup]="editCallForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="modal-content">
      <h4 i18n>Edit call</h4>

      <div class="row">
        <div class="input-field form-group">
          <label for="title" class="active" i18n>Title</label>
          <input type="text" class="form-control" formControlName="title"
            required materialize="characterCounter" [attr.data-length]="maxLengthCall"
            maxlength="{{maxLengthCall}}">
        </div>

        <div class="input-field form-group col s6">
          <label for="start_date" class="active" i18n>Start date</label>
          <input type="date" id="start_date" materialize="pickadate"
            [materializeParams]="[{selectMonths: true, selectYears: true, format: 'yyyy-mm-dd'}]"
            formControlName="start_date" required>
        </div>
        <div class="input-field form-group col s6">
          <label for="end_date" class="active" i18n>End date</label>
          <input type="date" id="end_date" materialize="pickadate"
            [materializeParams]="[{selectMonths: true, selectYears: true, format: 'yyyy-mm-dd'}]"
            formControlName="end_date" required>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button type="submit" class="modal-action modal-close waves-effect btn squizer-btn"
        [disabled]="!editCallForm.valid" i18n>Save</button>
    </div>
  </form>
</div>
