/*320px = 20em*/
@media only screen and (min-width: 62em){
  .header {
    margin-left: 21em;
    margin-right: 1em;
  }
}

h4 {
  padding-left: 1em;
}

sub {
  font-size: 0.6em;
}

.header {
  padding-top: 4em;
  background-color: #8f8f8f;
  border-radius: 0px 0px 3em 3em;
}


.card-content {
  background-color: #efefef;
}

#editSchoolYear {
  font-size: 0.5em;
}
#editSchoolYear:hover {
  background-color: rgba(255, 255, 255, 0);;
}
