<div *ngIf="schoolYear">
  <div class="row header">
    <h4 class="white-text">{{schoolYear.title}}
      <sub> ({{schoolYear.start_date | date:'d MMM yyyy'}} - {{schoolYear.end_date | date:'d MMM yyyy'}})</sub>
      <a  id="editSchoolYear"
          class="waves-effect waves btn-flat btn-large white-text right"
          (click)="openEditSchoolYearModal()">Editar</a>
    </h4>
  </div>

  <!-- Delete & Edit SchoolYear Modals -->
  <app-delete-modal (onDeleted)="deleteSchoolYear()"
    [id]="'deleteSchoolYearModal' + schoolYear.id"
    [title]="schoolYear.title"></app-delete-modal>
  <app-edit-school-year (editedSchoolYear)="editSchoolYear($event)"
    [schoolYear]="schoolYear"></app-edit-school-year>
</div>

<div class="content">
  <router-outlet></router-outlet>
</div>
