/*320px = 20em*/
@media only screen and (min-width: 62em){
  .header {
    margin-left: 21em;
    margin-right: 1em;
  }

  .content {
    margin-left: 22em;
    margin-right: 2em;
  }

  .center-div
  {
    position: absolute;
    top: 47%;
    margin-left: 19%;
  }
}
@media only screen and (max-width: 62em){

  .content {
    margin-left: 2em;
    margin-right: 2em;
  }
  .center-div
  {
    position: absolute;
    top: 43%;
  }
}

h4 {
  padding-left: 1em;
}

sub {
  font-size: 0.6em;
}

.header {
  padding-top: 4em;
  background-color: #8f8f8f;
  border-radius: 0px 0px 3em 3em;
}

.center-div h2 {
  color: #bdbdbd;
}

.card-content {
  background-color: #efefef;
}

#deleteCall:hover {
  background-color: white;
}

#editSchoolYear {
  font-size: 0.5em;
}
#editSchoolYear:hover {
  background-color: rgba(255, 255, 255, 0);;
}
