/*320px = 20em*/
@media only screen and (min-width: 62em){
  .center-div
  {
    position: absolute;
    top: 47%;
    margin-left: 19%;
  }
}
@media only screen and (max-width: 62em){
  .center-div
  {
    position: absolute;
    top: 43%;
  }
}

.center-div h2 {
  color: #bdbdbd;
}
