<div *ngIf="selectedYear">
  <div class="row header">
    <h4 class="white-text">{{selectedYear.title}}
      <sub> ({{selectedYear.start_date | date:'d MMM yyyy'}} - {{selectedYear.end_date | date:'d MMM yyyy'}})</sub>
      <a id="editSchoolYear" class="waves-effect waves btn-flat btn-large white-text right" (click)="openEditSchoolYearModal()">Editar</a>
    </h4>
  </div>
  <div class="content">
    <div class="row">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Card Title</span>
        </div>
        <div class="card-action">
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
          <p>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively.</p>
        </div>
      </div>
    </div>
    <footer class="footer">
     <div class="footer">
       <b><a id="deleteCall" class="waves-effect waves btn-flat btn-large red-text right" (click)="openDeleteCallModal()">Eliminar convocatoria</a></b>
     </div>
   </footer>
  </div>
</div>
<div *ngIf="!selectedYear">
  <div class="container">
    <div class="center-div">
        <h2 class="light-grey">Selecciona o crea un curso</h2>
    </div>
  </div>
</div>

<app-tests-side-nav></app-tests-side-nav>

<!-- Delete Call Modal -->
<div *ngIf="selectedYear">
  <app-delete-modal (onDeleted)="deleteSchoolYear()" [id]="'deleteSchoolYearModal'+selectedYear.id" [title]="selectedYear.title"></app-delete-modal>
  <app-delete-modal (onDeleted)="deleteCall(selectedCall)" [id]="'deleteCallModal'" [title]="selectedYear.title"></app-delete-modal>
  <app-edit-delete-school-year [schoolYear]="selectedYear"></app-edit-delete-school-year>
</div>
