@media only screen and (min-width: 62em){
  .content {
    padding-left: 30em;
    padding-right: 10em;
  }
  .questions {
    padding-left: 5em;
    padding-right: 4em;
  }

  .answers {
    padding-left: 2em;
  }

  .navigate-before {
    position: absolute;
    left: 2em;
    top: 3.5em;
  }
  .title {
    padding-left: 2em;
    padding-right: 1em;
  }
}
@media only screen and (max-width: 62em){
  .content {
    padding-left: 5em;
    padding-right: 5em;
  }
  .questions {
    padding-left: 1em;
  }
  .answers {
    padding-left: 2em;
  }
  .navigate-before {
    position: absolute;
    left: 1em;
    top: 3.5em;
  }
  .title {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.content {
  padding-top: 5em;
  background-color: #f0f0f0 !important;
}

.pdf {
  position: absolute;
  right: 0;
}
.tex {
  position: absolute;
  right: 0;
  top: 5em;
}
